<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUppage"></activity>
        <activity android:name=".LgonPage" />
        <activity android:name=".countries.Venuzuela.Venuzuela_Top_Headlines" />
        <activity android:name=".countries.Venuzuela.VenuzuelaTechnology" />
        <activity android:name=".countries.Venuzuela.VenuzuelaSports" />
        <activity android:name=".countries.Venuzuela.VenuzuelaScience" />
        <activity android:name=".countries.Venuzuela.VenuzuelaHealth" />
        <activity android:name=".countries.Venuzuela.VenuzuelaEntertainment" />
        <activity android:name=".countries.Venuzuela.VenuzuelaBusiness" />
        <activity android:name=".countries.US.US_Top_Headlines" />
        <activity android:name=".countries.US.USTechnology" />
        <activity android:name=".countries.US.USSports" />
        <activity android:name=".countries.US.USScience" />
        <activity android:name=".countries.US.USHealth" />
        <activity android:name=".countries.US.USEntertainment" />
        <activity android:name=".countries.US.USBusiness" />
        <activity android:name=".countries.Ukraina.Ukraina_Top_Headlines" />
        <activity android:name=".countries.Ukraina.UkrainaTechnology" />
        <activity android:name=".countries.Ukraina.UkrainaSports" />
        <activity android:name=".countries.Ukraina.UkrainaScience" />
        <activity android:name=".countries.Ukraina.UkrainaHealth" />
        <activity android:name=".countries.Ukraina.UkrainaEntertainment" />
        <activity android:name=".countries.Ukraina.UkrainaBusiness" />
        <activity android:name=".countries.UK.UK_Top_Headlines" />
        <activity android:name=".countries.UK.UKTechnology" />
        <activity android:name=".countries.UK.UKSports" />
        <activity android:name=".countries.UK.UKScience" />
        <activity android:name=".countries.UK.UKHealth" />
        <activity android:name=".countries.UK.UKEntertainment" />
        <activity android:name=".countries.UK.UKBusiness" />
        <activity android:name=".countries.UAE.UAE_Top_Headlines" />
        <activity android:name=".countries.UAE.UAETechnology" />
        <activity android:name=".countries.UAE.UAESports" />
        <activity android:name=".countries.UAE.UAEScience" />
        <activity android:name=".countries.UAE.UAEHealth" />
        <activity android:name=".countries.UAE.UAEEntertainment" />
        <activity android:name=".countries.UAE.UAEBusiness" />
        <activity android:name=".countries.Turkey.Turkey_Top_Headlines" />
        <activity android:name=".countries.Turkey.TurkeyTechnology" />
        <activity android:name=".countries.Turkey.TurkeySports" />
        <activity android:name=".countries.Turkey.TurkeyScience" />
        <activity android:name=".countries.Turkey.TurkeyHealth" />
        <activity android:name=".countries.Turkey.TurkeyEntertainment" />
        <activity android:name=".countries.Turkey.TurkeyBusiness" />
        <activity android:name=".countries.Thailand.Thailand_Top_Headlines" />
        <activity android:name=".countries.Thailand.ThailandTechnology" />
        <activity android:name=".countries.Thailand.ThailandSports" />
        <activity android:name=".countries.Thailand.ThailandScience" />
        <activity android:name=".countries.Thailand.ThailandHealth" />
        <activity android:name=".countries.Thailand.ThailandEntertainment" />
        <activity android:name=".countries.Thailand.ThailandBusiness" />
        <activity android:name=".countries.Taiwan.Taiwan_Top_Headlines" />
        <activity android:name=".countries.Taiwan.TaiwanTechnology" />
        <activity android:name=".countries.Taiwan.TaiwanSports" />
        <activity android:name=".countries.Taiwan.TaiwanScience" />
        <activity android:name=".countries.Taiwan.TaiwanHealth" />
        <activity android:name=".countries.Taiwan.TaiwanEntertainment" />
        <activity android:name=".countries.Taiwan.TaiwanBusiness" />
        <activity android:name=".countries.Switzerland.Switzerland_Top_Headlines" />
        <activity android:name=".countries.Switzerland.SwitzerlandTechnology" />
        <activity android:name=".countries.Switzerland.SwitzerlandSports" />
        <activity android:name=".countries.Switzerland.SwitzerlandScience" />
        <activity android:name=".countries.Switzerland.SwitzerlandHealth" />
        <activity android:name=".countries.Switzerland.SwitzerlandEntertainment" />
        <activity android:name=".countries.Switzerland.SwitzerlandBusiness" />
        <activity android:name=".countries.Sweden.Sweden_Top_Headlines" />
        <activity android:name=".countries.Sweden.SwedenTechnology" />
        <activity android:name=".countries.Sweden.SwedenSports" />
        <activity android:name=".countries.Sweden.SwedenScience" />
        <activity android:name=".countries.Sweden.SwedenHealth" />
        <activity android:name=".countries.Sweden.SwedenEntertainment" />
        <activity android:name=".countries.Sweden.SwedenBusiness" />
        <activity android:name=".countries.SouthKorea.SouthKorea_Top_Headlines" />
        <activity android:name=".countries.SouthKorea.SouthKoreaTechnology" />
        <activity android:name=".countries.SouthKorea.SouthKoreaSports" />
        <activity android:name=".countries.SouthKorea.SouthKoreaScience" />
        <activity android:name=".countries.SouthKorea.SouthKoreaHealth" />
        <activity android:name=".countries.SouthKorea.SouthKoreaEntertainment" />
        <activity android:name=".countries.SouthKorea.SouthKoreaBusiness" />
        <activity android:name=".countries.SouthAfrica.SouthAfrica_Top_Headlines" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaTechnology" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaSports" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaScience" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaHealth" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaEntertainment" />
        <activity android:name=".countries.SouthAfrica.SouthAfricaBusiness" />
        <activity android:name=".countries.Slovenia.Slovenia_Top_Headlines" />
        <activity android:name=".countries.Slovenia.SloveniaTechnology" />
        <activity android:name=".countries.Slovenia.SloveniaSports" />
        <activity android:name=".countries.Slovenia.SloveniaScience" />
        <activity android:name=".countries.Slovenia.SloveniaHealth" />
        <activity android:name=".countries.Slovenia.SloveniaEntertainment" />
        <activity android:name=".countries.Slovenia.SloveniaBusiness" />
        <activity android:name=".countries.Slovakia.Slovakia_Top_Headlines" />
        <activity android:name=".countries.Slovakia.SlovakiaTechnology" />
        <activity android:name=".countries.Slovakia.SlovakiaSports" />
        <activity android:name=".countries.Slovakia.SlovakiaScience" />
        <activity android:name=".countries.Slovakia.SlovakiaHealth" />
        <activity android:name=".countries.Slovakia.SlovakiaEntertainment" />
        <activity android:name=".countries.Slovakia.SlovakiaBusiness" />
        <activity android:name=".countries.Singapore.Singapore_Top_Headlines" />
        <activity android:name=".countries.Singapore.SingaporeTechnology" />
        <activity android:name=".countries.Singapore.SingaporeSports" />
        <activity android:name=".countries.Singapore.SingaporeScience" />
        <activity android:name=".countries.Singapore.SingaporeHealth" />
        <activity android:name=".countries.Singapore.SingaporeEntertainment" />
        <activity android:name=".countries.Singapore.SingaporeBusiness" />
        <activity android:name=".countries.Serbia.Serbia_Top_Headlines" />
        <activity android:name=".countries.Serbia.SerbiaTechnology" />
        <activity android:name=".countries.Serbia.SerbiaSports" />
        <activity android:name=".countries.Serbia.SerbiaScience" />
        <activity android:name=".countries.Serbia.SerbiaHealth" />
        <activity android:name=".countries.Serbia.SerbiaEntertainment" />
        <activity android:name=".countries.Serbia.SerbiaBusiness" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabia_Top_Headlines" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaTechnology" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaSports" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaScience" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaHealth" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaEntertainment" />
        <activity android:name=".countries.SaudiaArabia.SaudiaArabiaBusiness" />
        <activity android:name=".countries.Russia.Russia_Top_Headlines" />
        <activity android:name=".countries.Russia.RussiaTechnology" />
        <activity android:name=".countries.Russia.RussiaSports" />
        <activity android:name=".countries.Russia.RussiaScience" />
        <activity android:name=".countries.Russia.RussiaHealth" />
        <activity android:name=".countries.Russia.RussiaEntertainment" />
        <activity android:name=".countries.Russia.RussiaBusiness" />
        <activity android:name=".countries.Romania.Romania_Top_Headlines" />
        <activity android:name=".countries.Romania.RomaniaTechnology" />
        <activity android:name=".countries.Romania.RomaniaSports" />
        <activity android:name=".countries.Romania.RomaniaScience" />
        <activity android:name=".countries.Romania.RomaniaHealth" />
        <activity android:name=".countries.Romania.RomaniaEntertainment" />
        <activity android:name=".countries.Romania.RomaniaBusiness" />
        <activity android:name=".countries.Portugal.Portugal_Top_Headlines" />
        <activity android:name=".countries.Portugal.PortugalTechnology" />
        <activity android:name=".countries.Portugal.PortugalSports" />
        <activity android:name=".countries.Portugal.PortugalScience" />
        <activity android:name=".countries.Portugal.PortugalHealth" />
        <activity android:name=".countries.Portugal.PortugalEntertainment" />
        <activity android:name=".countries.Portugal.PortugalBusiness" />
        <activity android:name=".countries.Poland.Poland_Top_Headlines" />
        <activity android:name=".countries.Poland.PolandTechnology" />
        <activity android:name=".countries.Poland.PolandSports" />
        <activity android:name=".countries.Poland.PolandScience" />
        <activity android:name=".countries.Poland.PolandHealth" />
        <activity android:name=".countries.Poland.PolandEntertainment" />
        <activity android:name=".countries.Poland.PolandBusiness" />
        <activity android:name=".countries.Philiphpines.Philiphpines_Top_Headlines" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesTechnology" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesSports" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesScience" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesHealth" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesEntertainment" />
        <activity android:name=".countries.Philiphpines.PhiliphpinesBusiness" />
        <activity android:name=".countries.Norway.Norway_Top_Headlines" />
        <activity android:name=".countries.Norway.NorwayTechnology" />
        <activity android:name=".countries.Norway.NorwaySports" />
        <activity android:name=".countries.Norway.NorwayScience" />
        <activity android:name=".countries.Norway.NorwayHealth" />
        <activity android:name=".countries.Norway.NorwayEntertainment" />
        <activity android:name=".countries.Norway.NorwayBusiness" />
        <activity android:name=".countries.Nigeria.Nigeria_Top_Headlines" />
        <activity android:name=".countries.Nigeria.NigeriaTechnology" />
        <activity android:name=".countries.Nigeria.NigeriaSports" />
        <activity android:name=".countries.Nigeria.NigeriaScience" />
        <activity android:name=".countries.Nigeria.NigeriaHealth" />
        <activity android:name=".countries.Nigeria.NigeriaEntertainment" />
        <activity android:name=".countries.Nigeria.NigeriaBusiness" />
        <activity android:name=".countries.NewZealand.NewZealand_Top_Headlines" />
        <activity android:name=".countries.NewZealand.NewZealandTechnology" />
        <activity android:name=".countries.NewZealand.NewZealandSports" />
        <activity android:name=".countries.NewZealand.NewZealandScience" />
        <activity android:name=".countries.NewZealand.NewZealandHealth" />
        <activity android:name=".countries.NewZealand.NewZealandEntertainment" />
        <activity android:name=".countries.NewZealand.NewZealandBusiness" />
        <activity android:name=".countries.Netherland.Netherland_Top_Headlines" />
        <activity android:name=".countries.Netherland.NetherlandTechnology" />
        <activity android:name=".countries.Netherland.NetherlandSports" />
        <activity android:name=".countries.Netherland.NetherlandScience" />
        <activity android:name=".countries.Netherland.NetherlandHealth" />
        <activity android:name=".countries.Netherland.NetherlandEntertainment" />
        <activity android:name=".countries.Netherland.NetherlandBusiness" />
        <activity android:name=".countries.Morocco.Morocco_Top_Headlines" />
        <activity android:name=".countries.Morocco.MoroccoTechnology" />
        <activity android:name=".countries.Morocco.MoroccoSports" />
        <activity android:name=".countries.Morocco.MoroccoScience" />
        <activity android:name=".countries.Morocco.MoroccoHealth" />
        <activity android:name=".countries.Morocco.MoroccoEntertainment" />
        <activity android:name=".countries.Morocco.MoroccoBusiness" />
        <activity android:name=".countries.Mexico.Mexico_Top_Headlines" />
        <activity android:name=".countries.Mexico.MexicoTechnology" />
        <activity android:name=".countries.Mexico.MexicoSports" />
        <activity android:name=".countries.Mexico.MexicoScience" />
        <activity android:name=".countries.Mexico.MexicoHealth" />
        <activity android:name=".countries.Mexico.MexicoEntertainment" />
        <activity android:name=".countries.Mexico.MexicoBusiness" />
        <activity android:name=".countries.Malaysia.Malaysia_Top_Headlines" />
        <activity android:name=".countries.Malaysia.MalaysiaTechnology" />
        <activity android:name=".countries.Malaysia.MalaysiaSports" />
        <activity android:name=".countries.Malaysia.MalaysiaScience" />
        <activity android:name=".countries.Malaysia.MalaysiaHealth" />
        <activity android:name=".countries.Malaysia.MalaysiaEntertainment" />
        <activity android:name=".countries.Malaysia.MalaysiaBusiness" />
        <activity android:name=".countries.Lithuania.Lithuania_Top_Headlines" />
        <activity android:name=".countries.Lithuania.LithuaniaTechnology" />
        <activity android:name=".countries.Lithuania.LithuaniaSports" />
        <activity android:name=".countries.Lithuania.LithuaniaScience" />
        <activity android:name=".countries.Lithuania.LithuaniaHealth" />
        <activity android:name=".countries.Lithuania.LithuaniaEntertainment" />
        <activity android:name=".countries.Lithuania.LithuaniaBusiness" />
        <activity android:name=".countries.Lativa.Lativa_Top_Headlines" />
        <activity android:name=".countries.Lativa.LativaTechnology" />
        <activity android:name=".countries.Lativa.LativaSports" />
        <activity android:name=".countries.Lativa.LativaScience" />
        <activity android:name=".countries.Lativa.LativaHealth" />
        <activity android:name=".countries.Lativa.LativaEntertainment" />
        <activity android:name=".countries.Lativa.LativaBusiness" />
        <activity android:name=".countries.Japan.Japan_Top_Headlines" />
        <activity android:name=".countries.Japan.JapanTechnology" />
        <activity android:name=".countries.Japan.JapanSports" />
        <activity android:name=".countries.Japan.JapanScience" />
        <activity android:name=".countries.Japan.JapanHealth" />
        <activity android:name=".countries.Japan.JapanEntertainment" />
        <activity android:name=".countries.Japan.JapanBusiness" />
        <activity android:name=".countries.Itlay.Itlay_Top_Headlines" />
        <activity android:name=".countries.Itlay.ItlayTechnology" />
        <activity android:name=".countries.Itlay.ItlaySports" />
        <activity android:name=".countries.Itlay.ItlayScience" />
        <activity android:name=".countries.Itlay.ItlayHealth" />
        <activity android:name=".countries.Itlay.ItlayEntertainment" />
        <activity android:name=".countries.Itlay.ItlayBusiness" />
        <activity android:name=".countries.Isreal.Isreal_Top_Headlines" />
        <activity android:name=".countries.Isreal.IsrealTechnology" />
        <activity android:name=".countries.Isreal.IsrealSports" />
        <activity android:name=".countries.Isreal.IsrealScience" />
        <activity android:name=".countries.Isreal.IsrealHealth" />
        <activity android:name=".countries.Isreal.IsrealEntertainment" />
        <activity android:name=".countries.Isreal.IsrealBusiness" />
        <activity android:name=".countries.Ireland.Ireland_Top_Headlines" />
        <activity android:name=".countries.Ireland.IrelandTechnology" />
        <activity android:name=".countries.Ireland.IrelandSports" />
        <activity android:name=".countries.Ireland.IrelandScience" />
        <activity android:name=".countries.Ireland.IrelandHealth" />
        <activity android:name=".countries.Ireland.IrelandEntertainment" />
        <activity android:name=".countries.Ireland.IrelandBusiness" />
        <activity android:name=".countries.Indonesia.Indonesia_Top_Headlines" />
        <activity android:name=".countries.Indonesia.IndonesiaTechnology" />
        <activity android:name=".countries.Indonesia.IndonesiaSports" />
        <activity android:name=".countries.Indonesia.IndonesiaScience" />
        <activity android:name=".countries.Indonesia.IndonesiaHealth" />
        <activity android:name=".countries.Indonesia.IndonesiaEntertainment" />
        <activity android:name=".countries.Indonesia.IndonesiaBusiness" />
        <activity android:name=".countries.India.India_Top_Headlines" />
        <activity android:name=".countries.India.IndiaTechnology" />
        <activity android:name=".countries.India.IndiaSports" />
        <activity android:name=".countries.India.IndiaScience" />
        <activity android:name=".countries.India.IndiaHealth" />
        <activity android:name=".countries.India.IndiaEntertainment" />
        <activity android:name=".countries.India.IndiaBusiness" />
        <activity android:name=".countries.Hungary.Hungary_Top_Headlines" />
        <activity android:name=".countries.Hungary.HungaryTechnology" />
        <activity android:name=".countries.Hungary.HungarySports" />
        <activity android:name=".countries.Hungary.HungaryScience" />
        <activity android:name=".countries.Hungary.HungaryHealth" />
        <activity android:name=".countries.Hungary.HungaryEntertainment" />
        <activity android:name=".countries.Hungary.HungaryBusiness" />
        <activity android:name=".countries.HKong.HKong_Top_Headlines" />
        <activity android:name=".countries.HKong.HKongTechnology" />
        <activity android:name=".countries.HKong.HKongSports" />
        <activity android:name=".countries.HKong.HKongScience" />
        <activity android:name=".countries.HKong.HKongHealth" />
        <activity android:name=".countries.HKong.HKongEntertainment" />
        <activity android:name=".countries.HKong.HKongBusiness" />
        <activity android:name=".countries.Greece.Greece_Top_Headlines" />
        <activity android:name=".countries.Greece.GreeceTechnology" />
        <activity android:name=".countries.Greece.GreeceSports" />
        <activity android:name=".countries.Greece.GreeceScience" />
        <activity android:name=".countries.Greece.GreeceHealth" />
        <activity android:name=".countries.Greece.GreeceEntertainment" />
        <activity android:name=".countries.Greece.GreeceBusiness" />
        <activity android:name=".countries.Germany.Germany_Top_Headlines" />
        <activity android:name=".countries.Germany.GermanyTechnology" />
        <activity android:name=".countries.Germany.GermanySports" />
        <activity android:name=".countries.Germany.GermanyScience" />
        <activity android:name=".countries.Germany.GermanyHealth" />
        <activity android:name=".countries.Germany.GermanyEntertainment" />
        <activity android:name=".countries.Germany.GermanyBusiness" />
        <activity android:name=".countries.France.France_Top_Headlines" />
        <activity android:name=".countries.France.FranceTechnology" />
        <activity android:name=".countries.France.FranceSports" />
        <activity android:name=".countries.France.FranceScience" />
        <activity android:name=".countries.France.FranceHealth" />
        <activity android:name=".countries.France.FranceEntertainment" />
        <activity android:name=".countries.France.FranceBusiness" />
        <activity android:name=".countries.Egypt.Egypt_Top_Headlines" />
        <activity android:name=".countries.Egypt.EgyptTechnology" />
        <activity android:name=".countries.Egypt.EgyptSports" />
        <activity android:name=".countries.Egypt.EgyptScience" />
        <activity android:name=".countries.Egypt.EgyptHealth" />
        <activity android:name=".countries.Egypt.EgyptEntertainment" />
        <activity android:name=".countries.Egypt.EgyptBusiness" />
        <activity android:name=".countries.CzechRepublic.Czech_Top_Headlines" />
        <activity android:name=".countries.CzechRepublic.CzechTechnology" />
        <activity android:name=".countries.CzechRepublic.CzechSports" />
        <activity android:name=".countries.CzechRepublic.CzechScience" />
        <activity android:name=".countries.CzechRepublic.CzechHealth" />
        <activity android:name=".countries.CzechRepublic.CzechEntertainment" />
        <activity android:name=".countries.CzechRepublic.CzechBusiness" />
        <activity android:name=".countries.Cuba.Cuba_Top_Headlines" />
        <activity android:name=".countries.Cuba.CubaTechnology" />
        <activity android:name=".countries.Cuba.CubaSports" />
        <activity android:name=".countries.Cuba.CubaScience" />
        <activity android:name=".countries.Cuba.CubaHealth" />
        <activity android:name=".countries.Cuba.CubaEntertainment" />
        <activity android:name=".countries.Cuba.CubaBusiness" />
        <activity android:name=".countries.Colombia.Colombia_Top_Headlines" />
        <activity android:name=".countries.Colombia.ColombiaTechnology" />
        <activity android:name=".countries.Colombia.ColombiaSports" />
        <activity android:name=".countries.Colombia.ColombiaScience" />
        <activity android:name=".countries.Colombia.ColombiaHealth" />
        <activity android:name=".countries.Colombia.ColombiaEntertainment" />
        <activity android:name=".countries.Colombia.ColombiaBusiness" />
        <activity android:name=".countries.China.China_Top_Headlines" />
        <activity android:name=".countries.China.ChinaTechnology" />
        <activity android:name=".countries.China.ChinaSports" />
        <activity android:name=".countries.China.ChinaScience" />
        <activity android:name=".countries.China.ChinaHealth" />
        <activity android:name=".countries.China.ChinaEntertainment" />
        <activity android:name=".countries.China.ChinaBusiness" />
        <activity android:name=".countries.Canada.Canada_Top_Headlines" />
        <activity android:name=".countries.Canada.CanadaTechnology" />
        <activity android:name=".countries.Canada.CanadaSports" />
        <activity android:name=".countries.Canada.CanadaScience" />
        <activity android:name=".countries.Canada.CanadaHealth" />
        <activity android:name=".countries.Canada.CanadaEntertainment" />
        <activity android:name=".countries.Canada.CanadaBusiness" />
        <activity android:name=".countries.Bulgaria.Bulgaria_Top_Headlines" />
        <activity android:name=".countries.Bulgaria.BulgariaTechnology" />
        <activity android:name=".countries.Bulgaria.BulgariaSports" />
        <activity android:name=".countries.Bulgaria.BulgariaScience" />
        <activity android:name=".countries.Bulgaria.BulgariaHealth" />
        <activity android:name=".countries.Bulgaria.BulgariaEntertainment" />
        <activity android:name=".countries.Bulgaria.BulgariaBusiness" />
        <activity android:name=".countries.Brazil.Brazil_Top_Headlines" />
        <activity android:name=".countries.Brazil.BrazilTechnology" />
        <activity android:name=".countries.Brazil.BrazilSports" />
        <activity android:name=".countries.Brazil.BrazilScience" />
        <activity android:name=".countries.Brazil.BrazilHealth" />
        <activity android:name=".countries.Brazil.BrazilEntertainment" />
        <activity android:name=".countries.Brazil.BrazilBusiness" />
        <activity android:name=".countries.Belgium.Belgium_Top_Headlines" />
        <activity android:name=".countries.Belgium.BelgiumTechnology" />
        <activity android:name=".countries.Belgium.BelgiumSports" />
        <activity android:name=".countries.Belgium.BelgiumScience" />
        <activity android:name=".countries.Belgium.BelgiumHealth" />
        <activity android:name=".countries.Belgium.BelgiumEntertainment" />
        <activity android:name=".countries.Belgium.BelgiumBusiness" />
        <activity android:name=".countries.Austria.Austria_Top_Headlines" />
        <activity android:name=".countries.Austria.AustriaTechnology" />
        <activity android:name=".countries.Austria.AustriaSports" />
        <activity android:name=".countries.Austria.AustriaScience" />
        <activity android:name=".countries.Austria.AustriaHealth" />
        <activity android:name=".countries.Austria.AustriaEntertainment" />
        <activity android:name=".countries.Austria.AustriaBusiness" />
        <activity android:name=".countries.Australia.AustraliaTechnology" />
        <activity android:name=".countries.Australia.AustraliaSports" />
        <activity android:name=".countries.Australia.AustraliaScience" />
        <activity android:name=".countries.Australia.AustraliaHealth" />
        <activity android:name=".countries.Australia.AustraliaEntertainment" />
        <activity android:name=".countries.Australia.AustraliaBusiness" />
        <activity android:name=".countries.Australia.AustraliaTop_Healdines" />
        <activity android:name=".CountiresSelectionActivity" />
        <activity android:name=".countries.Argentina.ArgentinaTop_headlines" />
        <activity android:name=".countries.Argentina.ArgentinaTechnology" />
        <activity android:name=".countries.Argentina.ArgentinaSports" />
        <activity android:name=".countries.Argentina.ArgentinaScience" />
        <activity android:name=".countries.Argentina.ArgentinaHealth" />
        <activity android:name=".countries.Argentina.ArgentinaEntertainment" />
        <activity android:name=".countries.Argentina.ArgentinaBusiness" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Detailed" />
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>